site_name: humble.py

repo_url: https://github.com/rfc-st/humble

use_directory_urls: false

theme:
  name: material
  features:
    - content.code.copy
    - content.code.annotate
    - search.suggest
    - search.highlight

markdown_extensions:
  - admonition
  - pymdownx.details
  - pymdownx.superfences

nav:
  - Home: index.md
  - References: references.md
  - Unit Tests: unit_tests.md

plugins:
  - mkdocstrings:
      handlers:
        python:
          paths: [".", "tests"]
  - search
  - git-revision-date-localized:
      enabled: false